.about {
    padding: 80px 0;

    &__first {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;

        &-img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-text {
            width: 40%;

            li {
                position: relative;
                padding-left: 10px;
                margin-bottom: 10px;
            }

            li:before {
                content: "";
                margin-top: 10px;
                margin-right: 20px;
                float: left;
                min-width: 20px;
                height: 5px;
                background-color: #f8b636;
            }
        }
    }

    &__second {
        padding: 80px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &-text {
            width: 80%;
            align-self: center;
        }

        &-list {
            width: 100%;
            display: flex;
            justify-content: center;

            .list {
                padding-top: 50px;
                width: 80%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;

                li {
                    display: flex;
                    width: 40%;

                    img {
                        width: 40px;
                        height: 40px;
                        float: left;
                        margin-right: 10px;
                    }

                    b {
                        color: #f8b636;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1120px) {
    .about{
        &__first-text,
        &__second-text {
            width: 90%;
        }

        &__second{
            &-list{
                .list{
                    li{
                        width: 90%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 376px) {
    .about{
        &__second{
            &-list{
                .list{
                    width: 100%;
                }
            }
        }
    }
}